/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-size: 150%;
    font-family: sans-serif;
    height: 100%;
    margin: 0px;
}
.center-wrapper {
	text-align: center;
}
.center {
	display: inline-block;
}
#duck-image {
    width: 120px;
}
#chat-wrapper {
	width: 70%;
    height: 100%;
	float: left;
	}
#chat {
    height: 100%;
    padding: 1em;
	}
#duck {
    width: 20%;
    float: left;
    font-size: 150%
}
#log-wrapper {
    height: 80%;
    padding-bottom: 0.5em;
}
#log {
    padding: 10px;
    background-color: lightgrey;
    height: 100%;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
}
#message-box {
    font-size: 100%;
    overflow: auto;
    height: 20%;
    border-radius: 7px;
}
.message {
    border-radius: 5px;
    width: auto;
    clear: both;
    margin: 0.1em;
    padding: 0.7em;
    white-space: pre-wrap;
}
.message-human {
    float: left;
    text-align: left;
    background-color: lightblue;
}
.message-duck {
    float: right;
    text-align: right;
    background-color: yellow;
}